.sort-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 80px;
  height: 2rem;
  position: absolute;
  left: 60%;
  top: 40%;
  gap: 5px;
}

select {
  height: 100px;
}
